.main_body{
    /*height: 444px;*/
    margin-top: 31px;
}


.content_left{
    width:950px;
    /*height: 2000px;*/
    /*background-color: pink;*/
    float: left;

}
.content_right{
    width:225px;
    /*height: 1000px;*/
    background-color: #F6F6F6;
    float: right;
}
.content_left .layer_one{
    height: 445px;
    /*background-color: yellow;*/
}
.content_left .layer_two{
    margin-top: 30px;
}

.content_left .layer .layer_header{
    height: 32px;
    line-height: 32px;
    font-family: "microsoft yahei";
    border-bottom: 3px solid #E15B39;
    /*background-color: blue;*/
}
/*.content_left .layer_content{*/
/**/
/*/!*border-top: 3px solid #E15B39;*!/*/
/*/!*background-color: darkred;*!/*/
/*}*/

.content_left .layer_content_one{
    height: 410px;
    background: url("../images/mainbody_1.jpg");
}

.content_left .layer_header h2{
    width:218px;
    padding-left: 10px;
    height: 32px;
    font-size: 18px;
    font-weight: bold;
    float: left;
    color: #333333;
}
.content_left .layer_header .tabs{
    float: left;
    font-size: 14px;
    color:#666;
}
.layer_header .tabs li{
    float: left;
    padding: 0 14px 0 15px ;
}
.tabs li a{
    height: 32px;
    padding: 9px 3px 7px 3px;
}
.tabs li a:hover{
    color:#D74568;
    border-bottom: 3px solid #517AC0;
}

.tabs_two li a:hover{
    color:#517AC0;
    border-bottom: 3px solid #517AC0;
}

.content_left .layer_content .huichang{
    float: left;
    width: 225px;
    height: 150px;
    margin-top:240px;
    /*background-color: yellow;*/
    font-family: "microsoft yahei";
    font-size: 12px;
}
.layer_content .huichang a{
    display: block;
    width: 205px;
    height: 29px;
    line-height: 29px;
    border-radius: 10px;
    background-color: #fff;
    margin-left: 8px;
    margin-bottom: 6px;
}
.layer_content .huichang p{
    margin-left: 10px;
    float: left;
    font-size: 13px;
}
.layer_content .huichang .current{
    color:#DE2A37;
}
.layer_content .huichang span{
    float: right;
    margin:7px 9px 0 0;
    width: 36px;
    height: 16px;
    background-color: #DE2A37;
    border-radius: 6px;
    position: relative;
}
.huichang li i{
    position: absolute;
    font-size:12px;
    margin-top: -6px;
    margin-left: 5px;
    color:#fff;
}
.huichang li s{
    font-size: 13px;
    position: absolute;
    margin-top: -1px;
}
.layer_content .photo_area{
    width:725px;
    /*height: 1000px;*/
    float: right;
    position: relative;
}
.layer_content .photo{
    float: left;
    width:725px;
    height: 367px;
    margin-top: 20px;
    position: absolute;
    top:0;

}
.layer_content .two,.three,.four,.five,.six,.seven{
    display: none;
}

.layer_content .photo li{
    height: 160px;
    width:215px;
    float: left;
    margin-right: 7px;
    margin-bottom: 7px;
    background-color: #fff;
    padding: 10px 9px;
    position: relative;
}
.content_left .layer_two,.content_left .layer_three{
    height: 410px;
}
.layer_content .photo img{
    width:215px;
    height: 120px;
}
.layer_content .photo .touming{
    position: absolute;
    top:90px;
    width:215px;
    height: 40px;
    background-color: #38414c;
    opacity: 0.75;
}
.layer_content .photo .text {
    position: absolute;
    top: 90px;
    width: 215px;
    height: 40px;
    padding:2px 6px ;
}
.layer_content .photo .p1{
    float: left;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    font-family: "microsoft yahei";
}
.layer_content .photo .p2{
    /*float: left;*/
    color: #fff;
    font-size: 12px;
    /*padding-right: 6px;*/
    font-weight: normal;
    height: 18px;
    line-height: 18px;
    font-family: "microsoft yahei";
}

.layer_content .photo .p3{
    height: 36px;
    line-height: 36px;
    padding: 0 6px;
    font-size: 12px;
    color: #FF6600;
    font-family: "microsoft yahei";
}
.photo .p3 i{
    font-size: 20px;
    font-weight: bold;
    font-family: "Arial";
}
.photo .p3 span{
    float: right;
    color:#999999;
}
.photo .p3 del{
    float: right;
    color:#999999;
    margin-right: 18px;
}
.layer_content_two,.layer_content_three{
    position: relative;
    height: 370px;
}
.layer_content_two .long_jingdian{
    float: left;
    width:205px;
    height: 104px;
    padding-top: 13px;
    padding-left:10px;
    border-bottom: 1px dashed #D7D7D7;
}
.layer_content_two .long_jingdian h2{
    height: 28px;
    line-height: 28px;
    font-weight: bold;
    color:#222222;

}
.layer_content_two .long_jingdian ul{
    height: 79px;
    width:200px;
    font-family: "microsoft yahei";
    /*background-color: pink;*/
    padding-left:5px;
    /*overflow: hidden;*/
}
.layer_content_two .long_jingdian li{
    width:100px;
    height: 24px;
    line-height: 24px;
    float: left;
    /*list-style: square;*/
}
.layer_content .ouluoba{
    position: absolute;
    top: 130px;
    left:0;
    width:200px;
    height: 213px;
    /*background-color: red;*/
}
.layer_content .guonei{
    position: absolute;
    top: 200px;
    left:0;
    width:200px;
    height: 213px;
}
.layer_content_two .photo{
    margin-top: 5px;
    height: 367px;
}


.layer_two .layer_header>a,.layer_three .layer_header>a,.layer_four .layer_header>a{
    float: right;
    margin-right: 10px;
}






.content_right .piclist li{
    height: 96px;
}
.piclist li a{
    height: 96px;
}
.content_right .piclist li.line{
    height: 0;
    width:189px;
    margin-left: 18px;
    border: 1px dashed #E3E4E8;
}
.content_right .piclist li.white{
    height:15px;
    background-color: #fff;
}

